@model Northwind.Web.Models.ViewModels.EmployeeBillingRatesViewModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    var resourceVersion = @Configuration["resourceVersion"];
    var cdnUrl = @Configuration["CDNUrl"];
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="_EmployeeBillingRatesView">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <input hidden asp-for="BillingRateGuid" class="form-control" />
                <input hidden asp-for="ContractGuid" class="form-control" />
            </div>

            @if (Model.IsCsv)
            {
                <div class="row form-group no-gutters">
                    <div class="col">
                        <input type="button" id="DownloadEBRGrid" class="download btn btn-secondary" value="Export to CSV" />
                    </div>
                </div>

                <div class="form-group" id="EmployeeBillingGrid"></div>
            }
            else
            {
                var fileName = @Model.UploadFileName.Split("/").Last();
                <div class="col-md-6 form-group">
                    <a href="/Contract/DownloadDocument?filePath=@Model.UploadFileName&fileName=@fileName"
                       id="@fileName" class="text-left">
                        @*Click here to download file..
                            <br />*@
                        <span class="control-label">@fileName</span>
                    </a>
                </div>
            }

        </form>
    </div>
</div>

<script src="@cdnUrl/js/proj/projectfileUploadGrid.js?v=@resourceVersion" class="UploadGrid" data-gridname="#EmployeeBillingGrid"
        data-controller="EmployeeBillingRates" data-idvalue="#ContractGuid" data-guid="billingRateGuid"
        data-fields="laborCode|employeeName|rate|startDate|endDate" data-titles="Labor Code|Employee Name|Rate|Start Date|End Date"
        data-downloadgrid="#DownloadEBRGrid" data-path="@Model.UploadFileName"></script>
