@model IEnumerable<Northwind.Web.Areas.IAM.Models.IAM.ViewModels.UserGroupViewModel>

<form method="post" onsubmit="return false;">
    @foreach (var item in Model)
    {
        if (item.GroupGuid != null)
        {
        @Html.HiddenFor(model => item.GroupGuid)
        }
    }

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.HiddenFor(modelItem => item.GroupGuid)
                </td>
            </tr>
            }
        </tbody>
    </table>

</form>
