@model Northwind.Web.Models.ViewModels.LaborCategoryRatesViewModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    var resourceVersion = @Configuration["resourceVersion"];
    var cdnUrl = @Configuration["CDNUrl"];
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="_ViewSubcontractorBillingRates">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>
                <input hidden asp-for="CategoryRateGuid" class="form-control" />
                <input hidden asp-for="ContractGuid" class="form-control" />
            </div>

            @if (Model.IsCsv)
            {
                <div class="row form-group">
                    <p class="col-12 alert alert-secondary rounded-0 mt-n3">Following rates were updated by @Model.UpdatedByDisplayname on @Model.UpdatedOn. To export these rates to CSV file, click on Export to CSV. You can export the file to CSV, make edits and then re-upload the file in Edit screen.</p>
                    <div class="col text-right">
                        <input type="button" id="DownloadLCRGrid" class="download btn btn-secondary" value="Export to CSV" />
                    </div>
                </div>

                <div class="form-group" id="LaborCategoryGrid"></div>
            }
            else
            {
                var fileName = @Model.UploadFileName.Split("/").Last();
                <div class="row">
                        <p class="col-12 alert alert-secondary rounded-0 mt-n3">Following file was uploaded by @Model.UpdatedByDisplayname on @Model.UpdatedOn for subcontractor billing rates. Click on the file name to download it. If you want to change the uploaded file, click on the Upload New File button. This will allow you to upload either a new CSV file for rates or upload any other file type.</p>
                </div>
                <div class="col-12 text-center">
                     <a href="/ContractResourceFile/DownloadDocument/@Model.ContractResourceFileGuid"
                     id="@fileName" class="file-upload-name">
                      <i class="k-icon k-i-file-txt"></i>
                      <span class="control-label">@fileName</span>
                  </a>
                </div>
            }

        </form>
    </div>
</div>

<script src="@cdnUrl/js/proj/contractfileUploadGrid.js?v=@resourceVersion" class="UploadGrid" data-gridname="#LaborCategoryGrid"
        data-controller="SubcontractorBillingRates" data-idvalue="#ContractGuid" data-guid="categoryRateGuid"
        data-fields="subContractor|laborCode|employeeName|rate|startDate|endDate" data-titles="Sub Contractor|Labor Code|Employee Name|Rate|Start Date|End Date"
        data-downloadgrid="#DownloadLCRGrid" data-path=@Model.FilePath></script>
