@model Northwind.Web.Models.ViewModels.Company.CompanyViewModel
<div class="">
    <div class="form-group">
        <div class="fontbold control-label">
            Company Code
        </div>
        <h5>
            @Model.CompanyCode
        </h5>
    </div>

    <div class="form-group">
        <div class="fontbold control-label">
            Company Name
        </div>
        <h5>
            @Model.CompanyName
        </h5>
    </div>

    <div class="form-group">
        <div class="fontbold control-label">
            President
        </div>
        <h5>
            @Model.PresidentName
        </h5>
    </div>

    <div class="form-group">
        <div class="fontbold control-label">
            Abbreviation
        </div>
        <h5>
            @Model.Abbreviation
        </h5>
    </div>

    <div class="form-group">
        <div class="fontbold control-label">
            Description
        </div>
        <h5>
            @Model.Description
        </h5>
    </div>
</div>