@model Northwind.Web.Models.ViewModels.RevenueRecognition.RevenueRecognitionViewModel
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    var resourceVersion = @Configuration["resourceVersion"];
    var cdnUrl = @Configuration["CDNUrl"];
}
@if (Model.IsFile)
{
    var fileName = @Model.Filepath.Split("/").Last();
    <div class="row">
        <p class="col-12 alert alert-secondary rounded-0 mt-n3">Following file was imported  on @Model.UpdatedOn.ToString("MM/dd/yyyy") for revenue recognition. Click on the file name to download it.</p>
    </div>
    <div class="col-12 text-center">
        <a href="/ContractResourceFile/DownloadDocument/@Model.ContractResourceFileGuid"
           id="@fileName" class="file-upload-name">
            <i class="k-icon k-i-file-txt"></i>
            <span class="control-label">@fileName</span>
        </a>
    </div>
}
else

{
    <div class="text-right">
        <button type="button" class="btn btn-primary" id="exportToPDF">Export To PDF</button>
    </div>
    <div class="row">
        <div class="col-md-12" id="content">
            <ul id="OverViewPanel" class="revenuePanel pdf-list pdfUl" style="list-style:none; padding:0;">
                <li class="k-state-active step0">
                    <span style="color:#00649B; display: block; font-size:24px; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px;">Revenue Recognition Detail</span>
                    <div style="margin-bottom:30px;">
                        <div>
                            <div style="margin:0 0 15px;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">Contract Number</div> <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">@Model.BasicContractInfoModel.ContractNumber</h6>
                            </div>
                            <div style="margin:0 0 15px;"><div style="color:#999; font-family: Arial, Helvetica, sans-serif;">Contract Title</div> <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">@Model.BasicContractInfoModel.ContractTitle</h6></div>
                            <div style="margin:0 0 15px;"><div style="color:#999; font-family: Arial, Helvetica, sans-serif;">Project Number</div> <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">@Model.BasicContractInfoModel.ProjectNumber</h6></div>
                            <div style="margin:0 0 15px;"><div style="color:#999; font-family: Arial, Helvetica, sans-serif;">Company Name</div> <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">@Model.BasicContractInfoModel.CompanyName</h6></div>
                            <div style="margin:0 0 15px;"><div style="color:#999; font-family: Arial, Helvetica, sans-serif;">Project Manager</div> <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">@Model.ProjectManagerName</h6></div>
                            <div style="margin:0 0 15px;"><div style="color:#999; font-family: Arial, Helvetica, sans-serif;">Accounting Representative</div> <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">@Model.AccountingRepresentativeName</h6></div>
                            <div style="margin:0 0 15px;"><div style="color:#999; font-family: Arial, Helvetica, sans-serif;">Update On</div> <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">@Model.UpdatedOn.ToString("MM/dd/yyyy")</h6></div>
                        </div>
                    </div>

                    <link rel="stylesheet" href="@cdnUrl/css/pdf.css?v=@resourceVersion" />

                    @*<span style="font-family: Arial, Helvetica, sans-serif; font-size:28px; color:#00649B; font-weight: bold; display: block;">@Model.BasicContractInfoModel.ContractTitle</span>*@
                    @*<div>
                            <span style="font-size:14px; font-family: Arial, Helvetica, sans-serif; line-height: 1.5">Project Manager: <strong>Dummy Text</strong></span>
                            <span style="font-size:14px; font-family: Arial, Helvetica, sans-serif; line-height: 1.5; margin-bottom:30px; display: block;">Project Manager: <strong>Dummy Text</strong></span>
                        </div>
                        <span style="font-size:14px; font-weight:bold; color:#444; font-family: Arial, Helvetica, sans-serif; display: block; margin-bottom:5px;">Update On: @Model.UpdatedDate</span>*@

                    <span style="color:#00649B; display: block; font-size:24px; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px;">Contract Overview</span>

                    <div>
                        <div style="margin:15px 0 0;">
                            <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                Is the modification an administrative only change?
                            </div>
                            <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                @(Model.IsModAdministrativeStatus)
                            </h6>
                        </div>
                        <div style="margin:15px 0 0;">
                            <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                Does the modification change the scope of the contract?
                            </div>
                            <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                @Model.DoesScopeContractChangeStatus
                            </h6>
                        </div>
                        <div style="margin:15px 0 0;">
                            <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                Contract within scope of ASC 606
                            </div>
                            <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                @Model.IsASC606Status
                            </h6>
                        </div>
                        <div style="margin:15px 0 0;">
                            <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                Contract extends beyond current fiscal year of North Wind
                            </div>
                            <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                @Model.IsCurrentFiscalYearOfNorthWindStatus
                            </h6>
                        </div>
                        <div style="margin:15px 0 0;">
                            <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                Overview Notes
                            </div>
                            <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                @Model.OverviewNotesStatus
                            </h6>
                        </div>
                    </div>
                </li>
                @if (Model.IsCurrentFiscalYearOfNorthWind)
                {
                    <li class="step1">
                        <h5 style="font-family: Arial, Helvetica, sans-serif; color:#444; font-size:20px; line-height: 1.7; margin-top:20px;">Step 1 - <span style="color:#00649b">Identity Contract</span></h5>
                        <div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    Enforceable agreement executed and evidenced by
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @Model.IdentityContractStatus
                                </h6>
                            </div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    Termination Clause's
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @(Model.IsTerminationClauseGovernmentStandardStatus)
                                </h6>
                            </div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    Identify Termination Clause
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @(Model.IdentifyTerminationClauseStatus)
                                </h6>
                            </div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    Contract term extension/option
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @Model.IsContractTermExpansionStatus
                                </h6>
                            </div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    Contract term extension/renewal period dates
                                </div>
                                @if (Model.ListContractExtension != null)
                                {
                                    @foreach (var item in Model.ListContractExtension.Where(x => x.ExtensionDate != null))
                                    {
                                        <h6 class="d-inline-block mr-3">@item.ExtensionDateString</h6>
                                    }
                                }
                            </div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    Approach
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @Model.ApproachStatus
                                </h6>
                            </div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    Step 1 Notes
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @Model.Step1NoteStatus
                                </h6>
                            </div>
                        </div>
                    </li>
                    <li class="step2">
                        <h5 style="font-family: Arial, Helvetica, sans-serif; color:#444; font-size:20px; line-height: 1.7; margin-top:20px;">Step 2 - <span style="color:#00649b">Identity Performance Obligations</span></h5>
                        <div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    Contract Deliverables
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @Model.IdentityPerformanceObligationStatus
                                </h6>
                            </div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    Multi Revenue Stream
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @Model.IsMultiRevenueStreamStatus
                                </h6>
                            </div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    Is this a repetitive service contract with standard monthly/annual billing amount?
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @Model.IsRepetativeServiceStatus
                                </h6>
                            </div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    Does the contract contain an option to purchase additional goods or services or is there a
                                    contract renewal option?
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @Model.HasOptionToPurchageAdditionalGoodsStatus
                                </h6>
                            </div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    If yes, is it offered at a discounted/lower rate as an incentive for our client to exercise?
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @Model.IsDiscountPurchaseStatus
                                </h6>
                            </div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    Does the contract contain nonrefundable advanced payment?
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @Model.IsNonRefundableAdvancePaymentStatus
                                </h6>
                            </div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    Does the contract contain a discount provision in the event certain criteria are met?
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @Model.HasDiscountProvisionStatus
                                </h6>
                            </div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    Does the contract contain a warranty other than an assurance warranty?
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @Model.HasWarrentyStatus
                                </h6>
                            </div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    Describe the warranty terms
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @Model.WarrantyTermsStatus
                                </h6>
                            </div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    Estimate of probable warranty exposure other than those related to assurance type
                                    warranties:
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @Model.EstimateWarrantyExposureStatus
                                </h6>
                            </div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    Step 2 Notes
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @Model.Step2NoteStatus
                                </h6>
                            </div>
                        </div>
                    </li>
                    <li class="step3">
                        <h5 style="font-family: Arial, Helvetica, sans-serif; color:#444; font-size:20px; line-height: 1.7; margin-top:20px;">Step 3 - <span style="color:#00649b">Determine Transaction Price</span></h5>
                        <div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    Nature of pricing arrangement (Contract Type)
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @Model.ContractTypeStatus
                                </h6>
                            </div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    Pricing Variation
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @Model.IsPricingVariationStatus
                                </h6>
                            </div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    Explanation
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @Model.PricingExplanationStatus
                                </h6>
                            </div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    Base Contract Price the company believes it will be entitled to receive:
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @Model.BaseContractPrice
                                </h6>
                            </div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    List each additional option period with corresponding consideration the company expects to
                                    receive
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @Model.AdditionalPeriodOptionStatus
                                </h6>
                            </div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    Step 3 Note
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @Model.Step3NoteStatus
                                </h6>
                            </div>
                        </div>
                    </li>
                    <li class="step4">
                        <h5 style="font-family: Arial, Helvetica, sans-serif; color:#444; font-size:20px; line-height: 1.7; margin-top:20px;">
                            Step 4 - <span style="color:#00649b">
                                Allocate Transaction Price To Performance
                                Obligations
                            </span>
                        </h5>
                        <div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    Does the contract contain one or multiple contract obligations?
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @(Model.HasMultipleContractObligations)
                                </h6>
                            </div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    List each obligation with the associated allocation of transaction price/CV:
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @Model.EachMultipleObligationStatus
                                </h6>
                            </div>
                            <div style="margin:15px 0 0;">
                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                    Step 4 Notes
                                </div>
                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                    @Model.Step4NoteStatus
                                </h6>
                            </div>
                        </div>
                    </li>
                    if (Model.IsCompleted)
                    {
                        <li class="step5">
                            <link rel="stylesheet" href="@cdnUrl/css/pdf.css?v=@resourceVersion" />
                            <h5 style="font-family: Arial, Helvetica, sans-serif; color:#444; font-size:20px; line-height: 1.7; margin-top:20px;">
                                Step 5 - <span style="color:#00649b">
                                    Revenue Recognition (For each performance
                                    obligation)
                                </span>
                            </h5>
                            <div>
                                <div style="margin:15px 0 0;">
                                    @if (Model.ListRevenuePerformanceObligation != null)
                                    {
                                        @foreach (var item in Model.ListRevenuePerformanceObligation)
                                        {
                                            <div style="margin:15px 0 0;">
                                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                                    Performance Obligation represents Revenue Stream Identifier:
                                                </div>
                                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                                    @item.RevenueStreamIdentifierStatus
                                                </h6>
                                            </div>
                                            <div style="margin:15px 0 0;">
                                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                                    Performance Obligation represents right-to-payment:
                                                </div>
                                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                                    @item.RightToPaymentStatus
                                                </h6>
                                            </div>

                                            <div style="margin:15px 0 0;">
                                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                                    Performance Obligation Routine Service:
                                                </div>
                                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                                    @item.RoutineServiceStatus
                                                </h6>
                                            </div>
                                            <div style="margin:15px 0 0;">
                                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                                    Recognize revenue over time or point in time?
                                                </div>
                                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                                    @item.RevenueOverTimePointInTimeStatus
                                                </h6>
                                            </div>
                                            <div style="margin:15px 0 0;">
                                                <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                                    Method to recognize revenue for obligation satisfied over time?
                                                </div>
                                                <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                                    @item.SatisfiedOverTimeStatus
                                                </h6>
                                            </div>
                                        }
                                    }
                                </div>
                                <div style="margin:15px 0 0;">
                                    <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                        Are there any licensing or intellectual property considerations for this contract?
                                    </div>
                                    <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                        @Model.HasLicensingOrIntellectualPropertyStatus
                                    </h6>
                                </div>
                                <div style="margin:15px 0 0;">
                                    <div style="color:#999; font-family: Arial, Helvetica, sans-serif;">
                                        Step 5 Notes
                                    </div>
                                    <h6 style="color:#444; font-size:18px; padding:5px 0 15px; margin:0; font-family: Arial, Helvetica, sans-serif; margin-bottom:15px; line-height: 1.2">
                                        @Model.Step5NoteStatus
                                    </h6>
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
    <script src="@cdnUrl/lib/jspdf.min.js"></script>
    <script>
    $(document).ready(function () {
        $('#exportToPDF').click(function () {
            var i = 0;
            var doc = new jsPDF();
            var isCurrentFiscalYear = "@Model.IsCurrentFiscalYearOfNorthWind";
            var classes = "";
            switch (isCurrentFiscalYear.toUpperCase()) {
                case "TRUE":
                    var isCompleted = "@Model.IsCompleted";
                    if (isCompleted.toUpperCase() == "TRUE") {
                        classes = Object.seal(['.step0', '.step1', '.step2', '.step3', '.step4', '.step5']);

                    }
                    else {
                        classes = Object.seal(['.step0', '.step1', '.step2', '.step3', '.step4']);
                    }
                    break;
                default:
                    classes = Object.seal(['.step0']);
                    break;
            }
            for (i; i < classes.length; i++) {
                if (i != 0) {
                    doc.addPage()
                };
                var id = classes[i];
                doc.fromHTML($(id).html(), 20, 20, {
                    'width': 170
                });
            }
            doc.save('revenueRecognition.pdf');
        });
    })
    </script>
}
