@model IEnumerable<Northwind.Web.Areas.IAM.Models.IAM.ViewModels.GroupViewModel>

<form method="post" onsubmit="return false;">
   
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
               
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                
                <td>
                    @Html.HiddenFor(modelItem => item.UserGuid)
                </td>
            </tr>
            }
        </tbody>
    </table>

</form>
