@model Northwind.Web.Areas.IAM.Models.IAM.ViewModels.UserViewModel

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobStatus)
        </dd>
    </dl>
</div>
<form asp-action="Delete" onsubmit="return false">
    <input type="hidden" asp-for="UserGuid" />
</form>
