@model Northwind.Web.Models.ViewModels.Contract.ContractViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="p-4">
    <div class="row">
        <div class="col-sm-6 form-group">
            <label asp-for="BasicContractInfo.IsIDIQContract" class="control-label control-label-read"></label>
            <input type="hidden" Name="IsIDIQContractHidden" id="IsIDIQContractHidden" value="@Model.BasicContractInfo.IsIDIQContract.ToString()" />
            <div class="form-value">
                @Model.BasicContractInfo.IDIQContract
            </div>
        </div>

        <div class="col-sm-6 form-group">
            <label asp-for="BasicContractInfo.IsPrimeContract" class="control-label control-label-read"></label>
            <input type="hidden" Name="IsPrimeContractHidden" id="IsPrimeContractHidden" value="@Model.BasicContractInfo.IsPrimeContract.ToString()" />
            <div class="form-value">
                @Model.BasicContractInfo.PrimeContract
            </div>
        </div>

        <div class="col-sm-6 form-group">
            <label asp-for="BasicContractInfo.ContractNumber" class="control-label control-label-read"></label>
            <div class="form-value">
                @Model.BasicContractInfo.ContractNumber
            </div>
        </div>

        <div class="col-sm-6 form-group SubContractNumber">
            <label asp-for="BasicContractInfo.SubContractNumber" class="control-label control-label-read"></label>
            <div class="form-value">
                @Model.BasicContractInfo.SubContractNumber
            </div>
        </div>

        <div class="col-sm-6 form-group">
            <label asp-for="BasicContractInfo.ORGID" class="control-label control-label-read"></label>
            <div class="form-value">
                @Model.BasicContractInfo.OrganizationName
            </div>
        </div>

        <div class="col-sm-6 form-group">
            <label asp-for="BasicContractInfo.CompanyName" class="control-label control-label-read"></label>
            <div class="form-value">
                @Model.BasicContractInfo.CompanyName
            </div>
        </div>

        <div class="col-sm-6 form-group">
            <label asp-for="BasicContractInfo.RegionName" class="control-label control-label-read"></label>
            <div class="form-value">
                @Model.BasicContractInfo.RegionName
            </div>
        </div>

        <div class="col-sm-6 form-group">
            <label asp-for="BasicContractInfo.OfficeName" class="control-label control-label-read"></label>
            <div class="form-value">
                @Model.BasicContractInfo.OfficeName
            </div>
        </div>

        <div class="col-sm-6 form-group">
            <label asp-for="BasicContractInfo.CountryOfPerformance" class="control-label control-label-read"></label>
            <div class="form-value">
                @Model.BasicContractInfo.CountryOfPerformanceSelected
            </div>
        </div>

        <div class="col-sm-6 form-group">
            <label asp-for="BasicContractInfo.PlaceOfPerformance" class="control-label control-label-read"></label>
            <div class="form-value">
                @Model.BasicContractInfo.PlaceOfPerformanceSelected
            </div>
        </div>

        <div class="col-sm-6 form-group">
            <label asp-for="BasicContractInfo.POPStart" class="control-label control-label-read"></label>
            <div class="form-value">
                @Model.BasicContractInfo.POPStart?.ToString("MM/dd/yyyy")
            </div>
        </div>

        <div class="col-sm-6 form-group">
            <label asp-for="BasicContractInfo.POPEnd" class="control-label control-label-read"></label>
            <div class="form-value">
                @Model.BasicContractInfo.POPEnd?.ToString("MM/dd/yyyy")
            </div>
        </div>

        <div class="col-sm-6 form-group">
            <label asp-for="BasicContractInfo.NAICSCode" class="control-label control-label-read"></label>
            <div class="form-value">
                @Model.BasicContractInfo.NAICSCodeName
            </div>
        </div>

        <div class="col-sm-6 form-group">
            <label asp-for="BasicContractInfo.PSCCode" class="control-label control-label-read"></label>
            <div class="form-value">
                @Model.BasicContractInfo.PSCCodeName
            </div>
        </div>

        <div class="col-sm-6 form-group">
            <label asp-for="BasicContractInfo.CPAREligible" class="control-label control-label-read"></label>
            <div class="form-value">
                @Model.BasicContractInfo.CPAREligibleString
            </div>
        </div>

        <div class="col-sm-6 form-group">
            <label asp-for="BasicContractInfo.QualityLevelRequirements" class="control-label control-label-read"></label>
            <input type="hidden" Name="QualityLevelRequirementsHidden" id="QualityLevelRequirementsHidden" value="@Model.BasicContractInfo.QualityLevelRequirements.ToString()" />
            <div class="form-value">
                @Model.BasicContractInfo.QualityLevelRequirementsString
            </div>
        </div>

        <div class="col-sm-6 form-group QualityLevel">
            <label asp-for="BasicContractInfo.QualityLevel" class="control-label control-label-read"></label>
            <div class="form-value">
                @Model.BasicContractInfo.QualityLevelName
            </div>
        </div>

        <div class="col-sm-6 form-group QualityLevel">
            <label asp-for="BasicContractInfo.Description" class="control-label control-label-read"></label>
            <div class="form-value">
                @Model.BasicContractInfo.Description
            </div>
        </div>

    </div>
</div>